#curtain {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

#curtain span {
  position: absolute;
  top: 0;
  left: 0;
  width: 200%;
  height: 100;
  display: block;
  transform-origin: bottom left;
  transition: 0.5s ease-in-out;
  transform: rotate(-90deg);
}

#curtain span:nth-child(1) {
  background-color: $primary-color;
  transform: rotate(-90deg);
  transition-delay: 0.2s;
}
#curtain span:nth-child(2) {
  background-color: #f8f8f8;
  transform: rotate(-90deg);
  transition-delay: 0.1s;
}
#curtain span:nth-child(3) {
  background-color: #219dff;
  transform: rotate(-90deg);
  transition-delay: 0s;
}

#curtain.active span:nth-child(1) {
  z-index: 1;
  // transform: rotate(0deg);
  transition-delay: 0s;
}

#curtain.active span:nth-child(2) {
  z-index: 2;
  // transform: rotate(0deg);
  transition-delay: 0.1s;
}

#curtain.active span:nth-child(3) {
  z-index: 3;
  // transform: rotate(0deg);
  transition-delay: 0.2s;
}

#curtain.active span {
  transform: rotate(0deg);
}

.toggle {
  position: fixed;
  top: 20px;
  right: 20px;
  width: 50px;
  background: $primary-color url(../img/menu-thin.svg);
  background-repeat: no-repeat;
  background-position: 5px;
  z-index: 1000;
  cursor: pointer;
  transition: 0.5s;
  height: 2rem;
  width: 2.5rem;
}

#curtain.active .toggle {
  background: $primary-color url(../img/close-thin.svg);
  background-repeat: no-repeat;
  background-position: 5px;
}

ul {
  position: absolute;
  z-index: 100;
  transition: 0.5s;
  visibility: hidden;
  opacity: 0;
  transition-delay: 0s;
}

#curtain.active ul {
  visibility: hidden;
  opacity: 0;
  transition-delay: 0.7s;
}

#curtain ul li {
  list-style: none;
  margin: 10px 0;
}

#curtain ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 4rem;
  text-align: center;
  display: block;
}
